.container-main {
    display: block;
    margin: 5px 10px;

    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }

    .faculty-staff,
    .program-info {
        background-color: $color__main-theme-light;
        padding: 5px 10px;
    }

    .faculty-container  {
        
        h2 {
        color: $color__text-main;
        }

        p {
        color: $color__text-input-light;
        }
        
    }

}