.container-main {
    border: 1px red solid;
    display: block;
    margin: 5px 10px;

    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }

    .faculty-container,
    .program-container {
        background-color: $color__main-theme-light;
        padding: 5px 10px;
    }

    .faculty-container  {
        
        h2 {
        color: $color__text-input-light;
        border-bottom: 1px solid $color__text-input-light;
        }

        p {
        color: $color__text-input-light;
        }
        
    }

}