/*--------------------------------------------------------------
# Courses Page
--------------------------------------------------------------*/
.post-type-archive-oat-courses{
    font-family: 'Roboto', sans-serif;

    .site-content{
        padding: 0 1%;
    }

    section{
        .course-wrap{
            margin-bottom: 25px;

            .course-heading{
                font-size: 1.2em;
                border-bottom: 2px solid $color__main-theme;
        
                .credits{
                    margin-left: 10px;
                    font-weight: 400;
                    font-size: 0.8em;
                    font-style: italic;
                }
            } 

            p{
                margin-bottom: 10px;
                font-weight: 300;
            }

            .course-outline{
               i{
                    color: $color__main-theme;
                }

                a{
                    margin-left: 3px;
                    text-decoration: none;
                    font-weight: 500;
                    color: $color__main-theme;
                } 

                #{$link-hover-selector} {
                    i{
                        color: $color__main-theme-light;
                    }
                }
            } 
        }
    } 
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media only screen and (min-width: 500px){
    .post-type-archive-oat-courses{

        section{
            .course-wrap{
                margin-bottom: 25px;
    
                .course-heading{
                    font-size: 1.4em;
                    display: grid;
                    grid-template-columns: 1fr 100px;
            
                    .credits{
                        justify-self: flex-end;
                        line-height: 30px;
                    }
                } 

                .course-outline{
                    margin-bottom: 20px;
                }

                
            }
        } 
    }
}