/*--------------------------------------------------------------
# Courses Page
--------------------------------------------------------------*/
.post-type-archive-oat-courses{
    font-family: 'Roboto', sans-serif;

    section{
        padding: 0 1%;
        margin-top: 50px;
        .course-wrap{
            margin-bottom: 20px;

            .course-info{
                .course-heading{
                    font-size: 1.2em;
                    border-bottom: 2px solid $color__main-theme;
                    padding-bottom: 5px;
            
                    .credits{
                        margin-left: 5%;
                        font-weight: 400;
                        font-size: 85%;
                        font-style: italic;
                        right: 0;
                    }
                } 

                p{
                    margin-bottom: 10px;
                    font-weight: 300;
                }

                .course-outline{
                i{
                        color: $color__main-theme;
                    }

                    a{
                        margin-left: 3px;
                        text-decoration: none;
                        font-weight: 500;
                        color: $color__main-theme;
                    } 

                    #{$link-hover-selector} {
                        i{
                            color: $color__main-theme-light;
                        }
                    }
                } 
            }

            img{
                height: 100%;
            }
        }
    } 
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media only screen and (min-width: 500px){
    .post-type-archive-oat-courses{
        section{
            padding: 0 5%;

            .course-wrap{
                margin-bottom: 25px;
    
                .course-heading{
                    font-size: 1.4em;
                    display: grid;
                    grid-template-columns: 1fr 120px;
            
                    .credits{
                        justify-self: flex-end;
                        line-height: 30px;
                        font-size: 80%;
                    }
                } 

                .course-outline{
                    margin-bottom: 20px;
                }


            }
        } 
    }
}

@media only screen and (min-width: 700px){
    .post-type-archive-oat-courses{
        section{
            .course-wrap{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 40px; 

                .course-info{
                    .course-heading{
                        display: block;
                        margin-top: 0;

                        .credits{
                            right: 0;
                        }
                    }

                    p{
                        font-size: 1.1em;
                    }

                    .course-outline{
                        margin: 20px 0 0 0;
                        font-size: 1.1em;
                    } 
                }
            }
        } 
    }
}

@media only screen and (min-width: 1000px){
    .post-type-archive-oat-courses{
        section{
            .course-wrap{
                margin-bottom: 50px;
                .course-info{
                    padding-bottom: 7%;
                   .course-outline{
                        margin-bottom: 0;
                    } 
                }
                
            }
        } 
    }
}