/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/

.home{
    .home-page{
        .site-header{
            width: 100%;
        }
        .content-area{
            background-image: url(./images/home-page-background.png);
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            /* Add the blur effect */
            filter: blur(5px);
            -webkit-filter: blur(5px);
        }
        
        header{
            position: absolute;
            top: 40px;
            z-index: 2;
        }
    }  
}