.schedule-widget{
    // background-color: $color__main-theme;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 310px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 20px;
    background-color: rgba(90, 90, 90, 0.377);
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.089), 0 15px 40px rgba(166, 173, 201, 0.233);
    border-radius: 4px;


   


     p {
            margin: 0;
            color: white;
        }

    .widget-date{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px;
        padding-right: 15px;

        .widget-weekday {
            font-weight: 400;
        }

        p {
            font-size: 1.2rem;
            font-weight: 300;
        }


       
    }

    .widget-info {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        border-left: 3px solid $color__main-theme;


        h3 {
            color: white;
            margin: 0;
            font-weight: 400;
            color: rgb(255, 166, 0);
        }
    }

    .widget-instructor,
    .widget-room  {
        font-weight: 300;

    }


}