.site-info {
    padding: 0 6%;
    .footer-headings {
        display: flex;

        h3 {
            flex: 1;
        }
    }

    .footer-links {
        display: flex;

        .footer-section{
            flex: 1;

            .menu {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                }
            }
        }
    }


}