footer{

    .footer-headings-wrap{
        background-color: #808080;

        .footer-headings {
            max-width: 1550px;
            margin: 0 auto;
            padding: 0 30px;
            background-color: #808080;
            color: white;
        
            .footer-headings-row{
                display: flex;
                
                h3 {
                    flex: 1;
                    font-weight: 300;
                    font-size: 1.3em;
                    margin: 0;
                    line-height: 40px;
                }
            }
        }
    }

    .footer-links-wrap{
        background-color: #606060;

        .footer-links {
            max-width: 1550px;
            margin: 0 auto;
            display: flex;
            background-color: #606060;
            color: white;
            padding: 20px 30px;
            font-size: 0.866em;
            position: relative;
        
            img {
                width: 75px;
                height: auto;
                position: absolute;
                bottom: 0;
                left: 30px;
            }
        
            .footer-section{
                flex: 1;
        
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
        
                    &:hover {
                        text-decoration: underline;
                    }
        
                }
        
                ul {
                    margin: 0;
                    padding: 0;
                    
                    li {
                        list-style: none;
                        
                        a{
                            color: white;
                            text-decoration: none;
                            font-weight: 300;
        
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
        
                p {
                    padding: 0;
                    margin: 0;
                }
        
                
            }
        }
    }

}

.copyright-wrap{
    background-color: #404040;
    .copyright {
        color: white;
        width: 100%;
        margin: 0 auto;
        display: block;
        line-height: 40px;
        font-size: 0.866em;
        text-align: center;
        max-width: 1550px;
    }
}


@media (min-width: 500px){
    .footer-headings {
        padding: 0 6%;
    }

    .footer-links{
        padding: 20px 6%;

        img {
            left: 6%;
        }
    }
}

@media (min-width: 1000px){
    .footer-headings{
        padding: 0 12%;
    }

    .footer-links {
        padding: 20px 12%;

        img {
            display: block;
            left: 12%;
        }
    }
}


@media (min-width: 1500px){
    .footer-headings{
        padding: 0 18%;
    }

    .footer-links{
        padding: 20px 18%;
        img {
            left: initial;
            top: initial;
            right: 12%;
            top: 0;
        }
    }
}