/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
// .site-header{
//     display: none;
// }

.site-header{
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 10px;
    height: 50px;
    background-color: $color__background-body;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .site-branding{
       display: flex;
       justify-content: space-between;
       width: 290px;

        .site-title{    
            font-size: 3em;
            margin: 0;

            a{
                text-decoration: none;
                color: $color__main-theme;
            } 
        }

        .site-description{
            p{
                margin-top: 15px;   
                margin-left: 10px;
            }
        }
    }

}

@media only screen and (min-width: 700px) {
        .site-header {
            
            .site-branding{
                width: 330px;
                align-items: center;
                .site-title {
                    font-size: 3.5em;
                }
                .site-description{
                    p{
                      margin: 0 0 0 10px;  
                      font-size: 1em;
                    }
                }
            }
        }
}
