/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
// .site-header{
//     display: none;
// }

.site-header{
    // max-width: 1550px;
    width: 100%;
    
    padding: 0 10px;
    height: 85px;
    background-color: $color__background-body;
    z-index: 999;
    .header-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        max-width: 1550px;
    }

    .site-branding{
       display: flex;
       justify-content: space-between;
       width: 300px;

        .site-title{    
            font-size: 3.5em;
            margin: 0;

            a{
                text-decoration: none;
                color: $color__main-theme;
            } 
        }

        .site-description{
            p{
                margin-top: 15px;   
                margin-left: 10px;
                font-size: 1em;
            }
        }
    }

}

@media only screen and (min-width: 700px) {
        .site-header {
            position: fixed;
            
            .site-branding{
                width: 330px;
                align-items: center;

                .site-description{
                    p{
                      margin: 0 0 0 10px;  
                  
                    }
                }
            }
        }
}
